<div class="row mb-2">
    <div class="col-md-12 b-a-1">col-12</div>
    <div class="col-sm-6 b-a-1">col-sm-6</div>
    <div class="col-sm-6 b-a-1">col-sm-6</div>
</div>
<div class="row mb-2">
    <div class="col-md-4 b-a-1">col-md-4</div>
    <div class="col-md-4 b-a-1">col-md-4</div>
    <div class="col-md-4 b-a-1">col-md-4</div>
</div>
<div class="row mb-2">
    <div class="col-md-3 col-sm-4 col-6">
        <div class="card text-white bg-primary">
            <div class="card-block">
                <span>Card primary</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-6">
        <div class="card text-white bg-warning">
            <div class="card-block">
                <span>Card warning</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-6">
        <div class="card text-white bg-danger">
            <div class="card-block">
                <span>Card danger</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-6">
        <div class="card text-white bg-info">
            <div class="card-block">
                <span>Card info</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 hidden-xs-down b-a-1"> Hidden down XS</div>
    <div class="col-sm-6 hidden-md-up b-a-1"> Hidden up MD</div>
</div>