<table class="table table-striped" *ngIf="data?.length">
    <tbody>
        <tr *ngFor="let d of data">
            <td>{{d.id}}</td>
            <td>{{d.first_name}}</td>
            <td>{{d.last_name}}</td>
        </tr>
    </tbody>
</table>

<pagination 
    [boundaryLinks]="true" 
    [totalItems]="count" 
    [(ngModel)]="currentPage"
    (pageChanged)="onPageChanged($event)"
    class="pagination-sm"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;">
</pagination>