<div class="app flex-row align-items-center">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-8 col-12">
                <form class="card-block" [formGroup]="loginForm" role="form" novalidate (submit)="login()"> 
                    <h3 class="p-2 bg-primary">
                        <i class="fa fa-user-o"></i>
                        <span>{{ 'login.title' | translate }}</span>
                    </h3>
                    <div class="input-group mb-2" [ngClass]="{'has-danger':!loginForm.controls['username'].valid && loginForm.controls['username'].touched}">
                        <input autofocus placeholder="{{ 'login.username.label' | translate }}" 
                        formControlName="username" type="text" class="form-control form-control-lg b-a-1">
                    </div>
                    <div class="input-group mb-2" [ngClass]="{'has-danger':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
                        <input id="password" formControlName="password" placeholder="{{ 'login.password.label' | translate }}" 
                        type="password" class="form-control form-control-lg b-a-1">
                    </div>
                    <div class="text-center mt-1">
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">
                            <span class="h3">
                                <i class="fa fa-check px-4"></i>
                            </span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>